<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus_pc.monitoringhafalanapp2">

    <application
        android:name=".mesosfer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Monitoring Hafalan Qur&apos;an"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".TambahSantriActivity" />
        <activity android:name=".HafalanSantriActivity" />
        <activity android:name=".KelolaSantriActivity" />
        <activity android:name=".ParafSantriActivity" />
        <activity android:name=".UbahDataActivity" />
        <activity android:name=".LihatDataActivity" />
        <activity android:name=".KirimPesanActivity" />
        <activity android:name=".DetailParafActivity" />
        <activity android:name=".ListHafalanActivity"></activity>
    </application>

</manifest>